<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_bulma.css') }}">
    <script src=" {{ url_for('static', filename='src/socket.io.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/connect.js') }}"></script>
</head>

<body class="is-family-primary">
    <button onclick='socket.emit("emit", {"cmd": "spray_enable", "namespace": "pi"})'>Start spraying</button>
    <button onclick='socket.emit("emit", {"cmd": "spray_disable", "namespace": "pi"})'>Stop spraying</button>

    <p>Something old</p>


</body>

</html>