{% for nozzle in nozzles %}
<div class="columns">
    <div class="column is-narrow">
        <div class="box square">
            <p class="is-6"><strong>{{ nozzle['hostname'] }}</strong></p>
        </div>
    </div>

    <div class="column">
        <div class="vertical-fill">
            <div class="field">
                <p id="nozzle_status_connection_{{ nozzle['hostname'] }}"></p>
            </div>
            <div class="field">
                <p id="nozzle_status_latency_{{ nozzle['hostname'] }}"></p>
            </div>
            <div class="field">
                <p id="nozzle_status_logs_{{ nozzle['hostname'] }}"></p>
            </div>
        </div>
    </div>

    <script>
        // Perform initial request
        socket.emit("nozzle_status", "{{ nozzle['hostname'] }}")

        // Function to update span text
        socket.on("nozzle_status_{{ nozzle['hostname'] }}", data => {
            {
                document.getElementById("nozzle_status_connection_{{ nozzle['hostname'] }}").innerText = JSON.parse(data)["connection"];
                document.getElementById("nozzle_status_latency_{{ nozzle['hostname'] }}").innerText = JSON.parse(data)["latency"];
                document.getElementById("nozzle_status_logs_{{ nozzle['hostname'] }}").innerText = JSON.parse(data)["logs"];
            }
        });

        // Function to update variable at polling_rate
        setInterval(function () {
            {
                socket.emit("nozzle_status", "{{ nozzle['hostname'] }}")
            }
        }, 3000);
    </script>
</div>
{% endfor %}